<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Book List</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body style="max-width: 90%; margin : 0 auto ;">
<h1>Books</h1>
<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table class="table table-striped" >
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Category</th>
             <th sec:authorize="hasAuthority('ADMIN')"> Action </th>
        </tr>
        <tr th:each="book : ${books}">
        	<td th:hidden="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publicationYear}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.category.name}"></td> 	
            <td sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
            <a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-danger">Edit</a>
            </td>
            
            
        </tr>
    </table>
    
    <a href="/addbook" class="btn btn-success">Add book</a>
</body>
</html>